* {
  box-sizing: border-box;
}
input,
button.search {
  outline: none;
  border: 3px solid #f99428;
}

button.search {
  background-color: #f99428;
}

i {
  font-size: 25px !important;
  font-weight: 300 !important;
}

body {
  /* background-color: #f0f2f4; */
}

header {
  box-shadow: 0px 10px 50px -1px #dee2e6;
}
header .logo{
/* transform: scale(0.7,0.7); */
}
header nav ul {
  list-style: none;
}

header nav li {
  border-bottom: 3px solid #ffffff;
}

header nav li.active {
  border-bottom-color: #f99428;
  color: #f99428 !important;
  transition: border 0.4s linear;
  pointer-events: none;
}
header nav li.active-last{
  border-bottom-color: #f99428;
}
header nav li a {
  transition: background-color 0.2s linear;
  color: #202020 !important;
}

header nav li a:hover {
  background-color: #dee2e6;
}

header nav li a i.active-icon , header nav li button i.active-icon {
  color: #f99428 !important;
  transition: transform 0.5s linear;
  transform: scale(1.1, 1.1);
}
header nav ul li .pofile-box{
    width: 200px;
    left: calc(-200px + 41px);
    top: 63px;
    border-radius: 4px;
    z-index: -4;
    border-top: 2px solid #f99428;
    transition: all .1s ease-in-out;
    transform:translateY(50px);
    opacity: 0;
    transition-delay: .1s;
}
header nav ul li .pofile-box-active{
    transform:translateY(0px);
    z-index: 4;
    opacity: 1;
}
.resault {
  height: 60vh;
}

.resault .message {
  height: 300px;
  background-color: #00968752;
}

.resault .message .btn {
  color: #f99428;
  top: 10px;
  right: 10px;
}

.resault .message .btn:focus {
  box-shadow: 0 0 0 5px #f994289c !important;
}

.resault .message .btn i {
  font-size: 32px !important;
}
.btn-pack {
  border: 2.5px solid #dee2e6;
  background-color: unset;
}
.btn-pack i {
  font-size: 20px !important;
}
.btn-pack-cart.btn-cart-active,
.cart-like .btn-pack-cart.btn-cart-active {
  transition: 0.3s ease-in-out;
  border-color: #009688 !important;
}
.btn-pack-like.btn-like-active,
.cart-like .btn-pack-like.btn-like-active {
  transition: 0.3s ease-in-out;
  border-color: #f99428 !important;
}
.btn-pack .icon-like-active,
.cart-like .btn-pack-like.btn-like-active i {
  transform: scale(1.1, 1.1) rotate(10deg);
  transition: 0.3s ease-in-out;
  font-weight: 900 !important;
  color: #f99428;
}
.btn-pack .icon-cart-active,
.cart-like .btn-pack-cart.btn-cart-active i {
  transform: scale(1.1, 1.1) rotate(-10deg);
  transition: 0.3s ease-in-out;
  font-weight: 900 !important;
  color: #009688;
}

body{
  background-color: #f0f2f4;
}